body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;   
    background-image: url('images/cat-bg.png');
    background-size: cover;
    margin: 0;
}

@media only screen and (max-width: 768px){

    #home .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: repeat(4, 180px);
        grid-gap: 8px;
    }

    .grid-container #one {
        grid-column: 2;
        grid-row: 2;
    }

    .grid-container #two {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .grid-container #three {
        grid-column: 1;
        grid-row: 2 / span 2;
    }

    .grid-container #four {
        grid-column: 2;
        grid-row: 3;
    }

    .grid-container #five {
        grid-column: 1 / span 2;
        grid-row: 4;
    }
    
    .about {
        flex-direction: column;
    }

    .input-form {
        flex-direction: column;
        margin-right: 25px;
    }
}

.navigation {
    background-color: white;
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid gray;
}

.logo {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.menu {
    display: flex;
    padding: 10px;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    text-align: center;
    border-radius: 10%;
    width: 40px;
    padding: 15px;
    cursor: pointer;
    margin: 3px;
}

a:hover {
    text-decoration: underline;
}

header {
    text-align: center;
    color: white;
    display: flex;    
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    background-image: url('images/header-image.avif');
    width: 100%;
    height: 500px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

header h1 {
    display: block;
    font-size: 2em;
    margin-top: 20px;
    text-shadow: 2px 2px #222222;
}

header p {
    font-size: 20px;
    display: block;
    text-shadow: 2px 2px #222222;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

#header h1 {
    animation-duration: 3s;
    animation-name: slidein;
}

#header p {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    75% {
      font-size: 300%;
      margin-left: 25%;
      width: 150%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 240px 240px 240px;
    gap: 8px;
}

.grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#one {
    grid-row: 1;
    grid-column: 1;
}

#two {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
}

#three {
    grid-column: 1;
    grid-row: 2 / 4;
}

#four {
    grid-column: 2;
    grid-row: 3;
}

#five {
    grid-column: 3;
    grid-row: 3;
}

.grid-item {
    position: relative;
}

.cat-img {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
  
.grid-item:hover .cat-img {
    opacity: 0.3;
}
  
.grid-item:hover .middle {
    opacity: 1;
}

.text-grid {
    background-color: #fe9795;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.about {
    display: flex;
    align-items: center;
    text-align: justify;
    margin: 10px 0px 0px 0px;
}

.about h2 {
    padding: 0px 20px;
}

.about p {
    padding: 20px;
}

.about-img {
    height: 100%;
    padding: 20px;
    background-size: cover;
    display: block;
    width: auto;
}

.contact {
    background-color: rgba(255, 255, 255, 0.205);
    padding: 10px;
}

.input-form{
    display: flex;
}

input[type=text], [type=email]{
    width: 100%;
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px;
    border-color: whitesmoke;
}

.checkbox-form {
    display: inline-block;
    margin-bottom: 10px;
    padding-right: 10px;
}

.today-date {
    margin-bottom: 10px;
}

textarea {
    display: block;
    width: 98%;
    height: 100px;
    padding: 5px;
    border-radius: 5px;
    border-color: whitesmoke;
    resize: vertical;
}

input[type=submit] {
    width: 100%;
    text-align: center;
    background-color: #fca6a4;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer{
    text-align: end;
}